<form class="form-search">
    <table>
        <tbody>
            <tr>
                <td>
                    <i class="icon-search"></i>               
                </td>
                <td>                    
                    <input class="form-control search-box" type="search" placeholder="Search"/><span id="search-icon"></span>                    
                </td>
            </tr>
        </tbody>
    </table>
</form>